* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --smallTalk-color: #28072b;
  --smallTalk-background: #e6ecf0;
}

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarOption .material-icons,
.fa-twitter {
  padding: 20px;
}

.sidebarOption h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

.sidebarOption:hover {
  background-color: var(--smallTalk-background);
  border-radius: 30px;
  color: var(--smallTalk-color);
  transition: color 100mms ease-out;
}

.sidebarOption.active {
  color: var(--smallTalk-color);
}

.sidebar_speak {
  width: 100%;
  background-color: var(--smallTalk-color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
}

body {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.sidebar {
  border-right: 1px solid var(--smallTalk-background);
  flex: 0.2;
  min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.fa-twitter {
  color: var(--smallTalk-color);
  font-size: 30px;
}

/* Feed !  */

.feed {
  flex: 0.5;
  border-right: 1px solid var(--smallTalk-background);
  min-width: 600px;
  overflow-y: scroll;
}

.feed_header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--smallTalk-background);
  padding: 15px 20px;
}

.feed_header h2 {
  font-size: 20;
  font-weight: 800;
}

.feed::-webkit-scrollbar {
  font-size: 20px;
  font-weight: 800;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* tweet box */

.tweetbox_input img {
  border-radius: 50%;
  height: 40px;
}

.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--smallTalk-background);
  padding-right: 10px;
}

.tweetBox form {
  display: flex;
  flex-direction: column;
}

.tweetbox_input {
  display: flex;
  padding: 20px;
}

.tweetbox_input input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}

.tweetBox_tweetButton {
  background-color: var(--smallTalk-color);
  border: none;
  color: white;
  font-weight: 800;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
}

/* Styling Post */

.post_avatar img {
  border-radius: 50%;
  height: 40px;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid var(--smallTalk-background);
  padding-bottom: 10px;
  max-width: 600px;
}

.post_body img {
  width: 450px;
  object-fit: contain;
  border-radius: 20px;
}

.post_footer {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  align-items: center;
}

.post_badge {
  font-size: 14px !important;
  color: var(--smallTalk-color);
  margin-right: 5px;
}

.post_headerSpecial {
  font-weight: 800;
  font-size: 12px;
  color: gray;
}

.post_headerText {
  font-size: 15px;
  margin-bottom: 5px;
}

.post_headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post_body {
  flex: 1;
  padding: 10px;
}

.post_avatar {
  padding: 20px;
}

.postFlex {
  display: flex;
  border-bottom: 1px solid var(--smallTalk-background);
  padding-bottom: 10px;
  width: 100%;
}

.material-icons {
  padding: 2px;
}
.material-icons:last-child {
  flex-basis: 100%;
}
.postComments {
  padding: 2px;
}

.commentList {
  list-style-type: none;
  margin-left: 10px;
}

.commentList > li::before {
  content: "--  ";
  padding: 1px;
}

.gifimg {
  width: 200px;
  height: 200px;
}
